* {
    box-sizing: border-box;
}


:root {
--primary: #664ee4;
--black: #333333;
--white: #ffffff;
--purple: #8057d7;
--gray: #aaaaaad0;
}


.barBackground{
    height: 3px;
    width: 100%;
    background-color: var(--gray);
}

.barFront{
    height: 100%;
    background-color: var(--purple);
    text-align: right;
}


.stepsHolder{
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    max-width: 100vw;

}

.stepCircle{
    width: 50px;
    aspect-ratio: 1/1;
    flex-wrap: wrap;        
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    z-index: 95;
    border: 2px solid;
    
}

.stepsHolder .stepCircle:not(:first-child){
    margin-left: 50px;
}

.stepNo{    
    font-size: 12px;
}



.incomplete{
    
    color: var(--gray);
    border-color: var(--gray);
    background-color: rgb(241, 238, 238);
}

.complete{
    color: white;
    background-color: var(--primary);
    border-color: var(--primary);
    cursor: pointer;
}


.pgBar
{
    position: absolute;
    top: 50%;
    left:0px;
    width: 100%;
    z-index: 90;

}