* {
    box-sizing: border-box;
}

body {
font-family: Arial, Helvetica, sans-serif;
}

:root {
--black: #333333;
--white: #ffffff;
--purple: #8057d7;
--gray: #aaaaaad0;
}

.container{
    width: 100%;
}

.stepNum{
    text-align: center;
}

.stepsHolder{
    display: flex;
    background-color: white;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    position: relative;

}

/* .stepCircleOuter :not(first-child){
    z-index: 99;
    background-color: red;
} */

.stepCircle{
    width: 50px;
    aspect-ratio: 1/1;        
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10%width;
    font-weight: bold;
    z-index: 95;
    border: 2px solid;
    
}

.stepsHolder .stepCircle:not(:first-child){
    margin-left: 50px;
}

.incomplete{
    
    color: var(--gray);
    border-color: var(--gray);
    background-color: rgb(241, 238, 238);
}

.complete{
    color: white;
    background-color: var(--purple);
    border-color: var(--purple);
    cursor: pointer;
}

.stepNo
{
    text-decoration: none;

}

.stepsOuter
{
    display: flex;
    justify-content: center;
    width: 100%;
}

.pgBar
{
    position: absolute;
    top: 50%;
    left:0px;
    width: 100%;
    z-index: 90;

}

.actions {
display: flex;
justify-content: center;
}

.progress-button {
background: none;
cursor: pointer;
border: 1px solid var(--purple);
font-size: 18px;
padding: 18px;
color: var(--purple);
font-weight: 700;
margin: 0 10px;
min-width: 200px;
border-radius: 8px;
}
